<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/logo.css"  %}">
    <link rel="stylesheet" htef='{% static "css/zbros.css" %}'>
    <title>MinerFarm</title>
</head>

<body>
    
    <div class="wrapper">
        
        <div class="header">
            
            <div class="m1"><a href="logo.html"><img class="mi1" src="../../staticfiles/img/Group 1235.png"></a></div>
            <div class="m2"><a href="google.com"><img class="mi2" src="../../staticfiles/img/Group 1234.png"></a></div>
            <div class="img2"><img src="../../staticfiles/img/avatar.png" width="45" height="45"></div>
            <div class="m4"><a href="google.com"><img class="mi4" src="../../staticfiles/img/Group 1237.png"></a></div>
            <div class="m3"><a href="google.com"><img class="mi3" src="../../staticfiles/img/Group 1236.png"></a></div>

        </div>
        

        
        <div class="home">
            <p class="home1">Home</p>
        </div>
        
        <div class="card">
            <div class="cd1"><p class="pd1">ETHEREUM 2.0</p></div>
            <div class="cd2"><p class="pd2">Your Gateway <br> into Blockchain</p></div>
            <div class="cd3"><p class="pd3">Paronia is a blockchain platform.We make blockchain accessible.</p></div>
            <div><a href="logo.html"><input class="bd4" type="submit" value="Learn More."></a></div>
        </div>
        

        <div class="card2">
            <div class="c2d1"><p class="p2d1">Profile<br><string class="s2d1">@maximmur</string></p></div>
            <div class="c2d2">
                <img class="i21" src="/img/avatar.png" width="67px" height="67px">
                <a href="google.com"><img class="i22" src="../../staticfiles/img/add btn.png" width="67px" height="67px"></a>
            </div>

            <div class="object">
            <img src="../../staticfiles/img/Group 1225.png">
            </div>
        </div>

        <!-- <div class="card3">
            <div><p class="p3d1"></p></div>
        </div> -->

    </div>
</body>
</html>