<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../staticfiles/css/info.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
  <div class="d4">Miner<string class="s4">24</string></div>
  
    <div class="slider">
        <input class="slider__dot" type="radio" name="slider" title="slide1" checked="checked"/>
        <input class="slider__dot" type="radio" name="slider" title="slide2"/>
        <input class="slider__dot" type="radio" name="slider" title="slide3"/>
        <input class="slider__dot" type="radio" name="slider" title="slide4"/>
        <div class="slider__inner">
          <div class="slider__body">
            <img class="mi1" src="https://media.giphy.com/media/jv9Iuw5Dw24rRBsRhM/giphy.gif" width="300px">
            <h2 class="slider__caption">Property Diversity</h2>
            <p class="slider__text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!
                  </p>
          </div>
          <div class="slider__body">
            <img class="mi1" src="https://media.giphy.com/media/tqbayGDpciZuWLfgth/giphy.gif" width="300px">
            <h2 class="slider__caption">Safe Security</h2>
            <p class="slider__text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!
                  </p>
          </div>
          <div class="slider__body">
            <img class="mi1" src="https://media.giphy.com/media/U7IxSYwucpNX9vD0aj/giphy.gif" width="300px">
            <h2 class="slider__caption">Convenient Transaction</h2>
            <p class="slider__text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!
                  </p>
          </div>
          <div class="slider__body">
            <img class="mi1" src="https://media.giphy.com/media/gniz0qUijH8T7yRQWR/giphy.gif" width="300px"> 
            <h2 class="slider__caption">Wallet Setup</h2>
            <p class="slider__text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!
                  </p>
          </div>
        </div>
        
      </div>
     <a class="a1" href="info2.html"><div class="d1">Click on start</div></a>
</body>
</html>