<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../staticfiles/css/info2.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
  <div class="d4">Miner<string class="s4">24</string></div>
  
    <div class="slider">
        <input class="slider__dot" type="radio" name="slider" title="slide1" checked="checked"/>
        <input class="slider__dot" type="radio" name="slider" title="slide2"/>
        <input class="slider__dot" type="radio" name="slider" title="slide3"/>
        <input class="slider__dot" type="radio" name="slider" title="slide4"/>
        <div class="slider__inner">
          <div class="slider__body">
            <img class="mi1" src="https://media.giphy.com/media/DdpmhAQpQZzwHSrQ3f/giphy.gif" width="250px">
            <h2 class="slider__caption"><p class="np1">Silver<br><string class="ns1">250$ month</string></p></h2>
            <p class="slider__text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!
                  </p>
          </div>
          <div class="slider__body">
            <img class="mi1" src="https://media.giphy.com/media/zTNAjiApBmUur0Cgtv/giphy.gif" width="250px">
            <h2 class="slider__caption"><p class="np2">Gold<br><string class="ns2">450$ month</string></p></h2>
            <p class="slider__text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!
                  </p>
          </div>
          <div class="slider__body">
            <img class="mi1" src="https://media.giphy.com/media/s0kAyQlBfaFQGneLxZ/giphy.gif" width="250px">
            <h2 class="slider__caption"><p class="np3">Platinum<br><string class="ns3">650$ month</string></p></h2>
            <p class="slider__text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!
                  </p>
          </div>
          <div class="slider__body">
            <img class="mi1" src="https://media.giphy.com/media/imX9J96XN4Oj3LbmRA/giphy.gif" width="250px"> 
            <h2 class="slider__caption"><p class="np4">Maxima<br><string class="ns4">999$ month</string></p></h2>
            <p class="slider__text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!
                  </p>
          </div>
        </div>
        
      </div>
      <a class="a1" href="pay.html"><div class="d1">Select</div></a>
</body>
</html>