body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin: 0 auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

p {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 360px;
}

.header {
  top: 92%;
  width: 360px;
  height: 50px;
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient2 15s ease infinite;
  text-align: center;
  position: fixed;
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

@keyframes gradient2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header1 {
  width: 360px;
  height: 45px;
  background-color: #261e35;
  color: #261e35;
}

.img2 {
  float: left;
  margin: 0;
  margin-top: 4.5px;
}

.home {
  text-align: center;
}

.home1 {
  color: white;
  font-size: 30px;
  margin: 0 auto;
  font-family: Inter;
  font: bold;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  background: rgb(255, 255, 255, 0.1);
  width: 270px;
  height: 260px;
  margin: 25px;
  margin-top: 0px;
  margin-bottom: 17px;
  border-radius: 20px;
  padding: 20px;
  font-family: Inter;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.pd1 {
  color: rgb(255, 255, 255, 0.8);
  opacity: 100%;
  font-weight: bold;
  font-size: 13px;
  margin-top: 0 auto;
  margin-top: 6px;
  margin-bottom: 20px;
}

.pd2 {
  color: rgb(255, 255, 255, 0.8);
  opacity: 100%;
  font-weight: bold;
  font-size: 30px;
  margin: 0 auto;
}

.pd3 {
  color: rgb(255, 255, 255, 0.8);
  opacity: 100%;
  font-weight: medium;
  font-size: 15px;
  margin-top: 18px;
}

.bd4 {
  background-color: rgb(255, 255, 255, 0.3);
  padding: 15px;
  border-radius: 15px;
  padding-left: 63px;
  padding-right: 63px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 43px;
}

.bd4:hover {
  filter: brightness(90%);
}

.bd4:active {
  filter: brightness(80%);
}

.cd4 {
  margin-top: 57px;
}

.card2 {
  background-color: rgb(255, 255, 255, 0.1);
  width: 270px;
  height: 260px;
  margin: 25px;
  margin-top: 0px;
  border-radius: 20px;
  padding: 20px;
  font-family: Inter;
  margin-bottom: 17px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.p2d1 {
  color: white;
  font-size: 18px;
  margin: 0 auto;
  font-weight: bold;
  line-height: 1em;
}

.s2d1 {
  color: rgb(255, 255, 255, 0.3);
  font-size: 12px;
  font-weight: medium;
}

.c2d2 {
  margin-top: 15px;
}

.i21 {
  padding-right: 7px;
}

.o1 {
  width: 80px;
  height: 80px;
  background-color: #4a435c;
  border-radius: 50%;
  text-align: center;
  float: left;
  margin-right: 15px;
  color: white;
  font-family: Inter;
  font-weight: bold;
  line-height: 80px;
  margin-bottom: 10px;
}

.o2 {
  width: 80px;
  height: 80px;
  background-color: #4a435c;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  float: left;
  margin-right: 15px;
  color: white;
  font-family: Inter;
  font-weight: bold;
  margin-bottom: 10px;
}
.o3 {
  width: 80px;
  height: 80px;
  background-color: #4a435c;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  float: left;
  color: white;
  font-family: Inter;
  font-weight: bold;
  margin-bottom: 10px;
}

.c2d2 {
  margin-bottom: 15px;
}

.s1 {
  font-size: 15px;
  color: #868b93;
  font-weight: bolder;
  margin-left: 18px;
  margin-right: 20px;
}

.s2 {
  font-size: 13px;
  color: #868b93;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 18px;
}

.s3 {
  font-size: 13px;
  color: #868b93;
  font-weight: bold;
  margin-left: 25px;
}

.card3 {
  background-color: #3c354a;
  width: 270px;
  height: 260px;
  margin: 25px;
  margin-top: 0px;
  border-radius: 20px;
  padding: 20px;
  font-family: Inter;
  margin-bottom: 17px;
}

.mi1 {
  float: left;
  margin-left: 15px;
}

.mi2 {
  float: left;
  margin-right: 21px;
}

.mi3 {
  float: right;
  margin-left: 2px;
}

.mi4 {
  float: right;
  margin-right: 15px;
}
