@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.slider {
  height: 80vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}
.slider__dot {
  width: 16px;
  height: 16px;
  margin: 2rem 16px;
  border-radius: 50%;
  z-index: 10;
  background-color: #fff;
  outline: 8px solid #fff;
  outline-offset: -8px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__dot:checked {
  background-color: #fff;
  -webkit-animation: check 0.5s linear forwards;
  animation: check 0.5s linear forwards;
}
.slider__dot:checked:nth-of-type(1) ~ .slider__inner {
  transform: translateX(0%);
}
.slider__dot:checked:nth-of-type(2) ~ .slider__inner {
  transform: translateX(-25%);
}
.slider__dot:checked:nth-of-type(3) ~ .slider__inner {
  transform: translateX(-50%);
}
.slider__dot:checked:nth-of-type(4) ~ .slider__inner {
  transform: translateX(-75%);
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  transition: all 1s ease-out;
  display: flex;
  flex-flow: row nowrap;
}
.slider__body {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  padding-bottom: 0;
  padding-top: 0;
}
.slider__image {
  font-size: 2.7rem;
  margin-bottom: 2rem;
}
.slider__caption {
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: white;
}
.slider__text {
  color: #fff;
  margin-bottom: 3rem;
  max-width: 300px;
  margin-top: -15px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #fff;
    box-shadow: 0 0 0 5px #fff, 0 0 0 20px rgba(255, 255, 255, 0.2);
  }
  100% {
    outline-color: #d2c0f4;
    box-shadow: 0 0 0 0 #d2c0f4, 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #d2c0f4;
    box-shadow: 0 0 0 5px #d2c0f4, 0 0 0 20px rgba(255, 255, 255, 0.2);
  }
  100% {
    outline-color: #d2c0f4;
    box-shadow: 0 0 0 0 #d2c0f4, 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.d1 {
  width: 360px;
  height: 50px;
  color: #d2c0f4;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 30px;
}

.d4 {
  font-size: 30px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}

.s4 {
  font-size: 33px;
  color: #d2c0f4;
}

.np1 {
  font-family: Inter;
  font-weight: bold;
}

.ns1 {
  font-size: 20px;
  text-transform: lowercase;
  color: #d2c0f4;
}

.np2 {
  font-family: Inter;
  font-weight: bold;
}

.ns2 {
  font-size: 20px;
  text-transform: lowercase;
  color: #d2c0f4;
}

.np3 {
  font-family: Inter;
  font-weight: bold;
}

.ns3 {
  font-size: 20px;
  text-transform: lowercase;
  color: #d2c0f4;
}

.np4 {
  font-family: Inter;
  font-weight: bold;
}

.ns4 {
  font-size: 20px;
  text-transform: lowercase;
  color: #d2c0f4;
}

.a1 {
  text-decoration: none;
}
